
front/.env.development
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.assets.cache
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
